<h1 class="center">ARCHIVES</h1>

<% if @posts.count == 0 %>
  Nothing posted yet... :(
<% end %>
<% @posts.each do |post| %>
  <%= post.created_at.strftime('%F') %> - <%= link_to post.title, '/b/' + post.id.to_s %><br>
<% end %> 