<h1 class="blog-title"><%= @current_post.title %></h1>
<h2 class="blog-postdate"><%= @current_post.created_at.strftime('%B %d, %Y') %></h2>
<%= simple_format @current_post.body %>

<%= render 'layouts/blog_footer' %>
