<footer>
  <p class="twitter">Thoughts?  Tell me on <a href="http://twitter.com/tkang">Twitter</a></p>
  <%= link_to content_tag(:i, " archives", class: 'fa fa-archive fa-lg archives'), 'archives' %> 
</footer>
